<% for(var i =1; i<= 200; i++) { %>
<div class="barcode-container">
    <span class="">Super Premium (Vacuum) Salt 500gm</span>
    <img id="barcode<%=(i+'')%>"/>
    <span class="">150.00TK</span>
</div>
<% } %>